name: Node CI Pipeline v2

on:
  push:
    branches:
        - main

jobs:
  test:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Run tests and save result
        run: |
          mkdir -p test-results
          npx mocha test/**/*.test.js --reporter json > test-results/results.json

      - name: Upload test results artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: mocha-test-results
          path: test-results/results.json

  deploy:
    runs-on: self-hosted
    needs: test   

    steps:
      - name: Download test results artifact
        uses: actions/download-artifact@v4
        with:
          name: mocha-test-results
          path: downloaded-results

      - name: Display test results
        run: |
          echo "Mocha Test Results:"
          cat downloaded-results/results.json
